<div class="container">
  <div class="timeDiv fa fa-clock"> Depart Time: {{connection.depart_time}}</div>
  <div class="cityDiv fa fa-city"> To City: {{connection.to_City}}</div>
  <hr>
  <p>Arrival</p>
  <div class="timeDiv fa fa-clock"> Time: {{connection.arrival_time}}</div>
  <div class="timeDiv fa fa-calendar"> Day: {{connection.arrival_date}}</div>
  <hr>

  <div class="form-group col-md-12">
    <label for="inputState">Type Seat</label>
    <select id="inputState" class="form-control" (change)="selectChangeHandler($event)">
      <option>Please Select..</option>
      <option value="Standing Places {{connection.standing_places_price}} zł">Standing Places {{connection.standing_places_price}} zł</option>
      <option value="Second Class {{connection.second_class_price}} zł">Second Class {{connection.second_class_price}} zł</option>
      <option value="First Class {{connection.first_class_price}} zł">First Class {{connection.first_class_price}} zł</option>
    </select>
  </div>

  <button type="submit" (click)="submit()" class="btn btn-success btn-block text-uppercase">Submit</button>

</div>