<div class="container">
  <div class="col-md-12 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Sign in </strong></h3>
      </div>

      <div class="panel-body">
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" formControlName="first_name" class="form-control" placeholder="First Name">
                <div *ngIf="submitted && f.first_name.invalid" class="alert alert-danger">
                  <a class="close" data-dismiss="alert" href="#">×</a>First Name is required
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" formControlName="last_name" class="form-control " placeholder="Last Name">
                <div *ngIf="submitted && f.last_name.invalid" class="alert alert-danger">
                  <a class="close" data-dismiss="alert" href="#">×</a>Last Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control " placeholder="Email Address">
            <div *ngIf="submitted && f.email.invalid" class="alert alert-danger">
              <a class="close" data-dismiss="alert" href="#">×</a>Email is required
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
                <div *ngIf="submitted && f.password.invalid" class="alert alert-danger">
                  <a class="close" data-dismiss="alert" href="#">×</a>Password is required
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" formControlName="password_confirmation" class="form-control"
                  placeholder="Confirm Password">
                <div *ngIf="submitted && !passwordMatchValidator()" class="alert alert-danger">
                  <a class="close" data-dismiss="alert" href="#">×</a>Password isn't the same
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success" (click)="submit()">Sign in</button>
          <hr style="margin-top:10px;margin-bottom:10px;">
        </form>
      </div>
    </div>
  </div>
</div>